<p id="notice"><%= notice %></p>
<%= link_to "Back", blog_posts_path, class: "btn btn-default" %>
<div class="container" style="padding: 100px">
<h1 align="center" class="postTitle">Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="postTitle">
    <h4 style="color: orange;"><strong>[ name ]</strong></h4>
    <h1><%= f.text_field :name, autofocus: true, class: "formTitle", placeholder: "First & Last Name" %></h1>
  </div>
  
  <div class="postTitle">
    <h4 style="color: orange;"><strong>[ username ]</strong></h4>
    <h1><%= f.text_field :username, class: "formTitle", placeholder: "Username"  %></h1>

  </div>

  <div class="postTitle">
    <h4 style="color: orange;"><strong>[ email ]</strong></h4>
    <h1><%= f.email_field :email, class: "formTitle", placeholder: "Email" %></h1>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br>
  <div class="postTitle">
    <h4 style="color: orange;"><strong>[ change password? ]</strong></h4>
    <h1><%= f.password_field :password, autocomplete: "off", placeholder: "Change Password (leave blank if you wish to keep the same password)", class: "formTitle" %></h1>
    <% if @minimum_password_length %>

    <% end %>
  </div>

  <div class="postTitle">
    <h1><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password to Change", class: "formTitle" %></h1>
  </div>
<br>
  <div class="postTitle">
    <h4 style="color: orange;"><strong>[ current password ]</strong></h4>
    <h2><%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password to Submit Changes to Profile", class: "formTitle" %></h2>
  </div>

  <div class="actions" align="center">
    <%= f.submit "Update", class: "btn btn-warning btn-lg" %>
  </div>
<% end %>
<br><br>
<%= button_to "Delete my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>


</div>