<p id="notice"><%= notice %></p>
<br><br>



<div class="container">

<br><br>
<h1 class="postTitle">Recent Submissions</h1>
<div style="text-align: center;">
<%= link_to "All", blog_posts_path, class: "btn btn-default modAllBtn" %>  <%= link_to "Answered", answered_path, class: "btn btn-success" %>  <%= link_to "Unanswered", unanswered_path, class: "btn btn-warning" %> 
</div>

<div class="row">
<br>
	<% @blog_posts.reverse_each do |blog_post| %>
		<div class="col-md-4">
		<div class="thumbnail" style="padding-top: 15px; margin: 10px;">
			<%= link_to gravatar_tag(blog_post.user.email, size: 100), blog_post %>
			<div class="caption">
				<h3 style="height: 55px; margin-bottom: 20px;"><%= link_to blog_post.title, blog_post,{:style=>'color:#000000; text-decoration: none;'} %></h3>
				
				<p style="height: 140px;"><%= blog_post.entry[0..225] %><% if blog_post.entry.size > 300 %>...<% end %></p>
				Submitted: <%= blog_post.created_at.strftime('%m/%d/%Y (%I:%M%p)') %>
				<br>
				<strong><%= blog_post.comments.count %></strong> Comments
				<br><br>				
				<p><%= link_to 'Read more', blog_post, class: "btn btn-default" %>
				
				<% if blog_post.answered == true %>
					<%= link_to 'Answered', blog_post, class: "btn btn-success pull-right" %>
					<% else %>
					<%= link_to 'Unanswered', blog_post, class: "btn btn-warning pull-right" %>
					<% end %>
				
				</p>
				


			</div>
		</div>
		</div>

	<% end %>

</div>
</div>